build/
out/
*.o
*.obj
*.exe
*.pcm
*.ifc
*.pdb
*.ilk
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

.vs/
*.user
*.suo

__pycache__/
*.pyc
.venv/
venv/
env/

result.txt
benchmark.csv

Thumbs.db
desktop.ini
.DS_Store
